<body id="home-page-background">
<div id="container-homepage">
  <h2 id="Welcome-homepage">Welcome to the Vehicle Management System!</h2>
  
  <p id="msg-homepage">Please log in to continue... </p>
  <a id= "signin-signup-button-homepage" href="/login" class="btn btn-primary">Sign In / Sign Up</a>
</div>

<div>
<img src="./css/images/Cars1.jpg">
</div>
</body>
<footer>
        <p> Copyright &copy; 2023 Certified</p>
</footer>